---
import { storyblokEditable, renderRichText } from "@storyblok/astro";
import { Image } from "astro:assets";
import Link from "../components/Link.astro";
import { Icon } from "astro-icon/components";
import { getFormattedDate } from "../utils/utils.ts";
const { blok } = Astro.props;

const currentPath = Astro.url.pathname;
const eventLinkText = currentPath.includes("upcoming-events")
  ? "Book Your Place"
  : "Watch Here";

const content = renderRichText(blok.content);
---

<section
  class="mx-auto sm:px-6 max-w-7xl px-6 py-12-b lg:py-20 py-12 sm:py-16"
  {...storyblokEditable(blok)}
>
  <article>
    <header>
      <div
        class="flex justify-between flex-col sm:flex-row max-w-3xl mx-auto mt-0 mb-2 px-4 sm:px-6 sm:items-center"
      >
        <p>
          <Icon name="tabler:clock" class="w-5 h-5 inline-block -mt-0.5" />
          <time class="px-1.5" datetime={blok.date} class="inline-block"
            >{getFormattedDate(new Date(blok.date))}</time
          >
        </p>
      </div>
      <h1
        class="px-4 sm:px-6 max-w-3xl mx-auto text-4xl md:text-5xl font-bold leading-tighter tracking-tighter mb-4 font-heading"
      >
        {blok.title}
      </h1>
      <Image
        class="max-w-full lg:max-w-[900px] mx-auto mb-6 sm:rounded-md bg-gray-400 border"
        sizes="(max-width: 700px) 400px, 700px"
        width={700}
        height={500}
        loading="eager"
        src={blok.image.filename}
        alt={blok.image.alt}
      />
    </header>
    <div
      class="mx-auto px-6 sm:px-6 max-w-3xl lg:prose-xl prose-md prose-headings:font-heading prose-headings:leading-tighter prose-headings:tracking-tighter prose-headings:font-bold prose-img:rounded-md prose-img:shadow-lg mt-8 prose-headings:scroll-mt-[80px]"
    >
      <Fragment set:html={content} />
      <Link href={blok.book.url} target="_blank" class="no-prose">
        {eventLinkText}
      </Link>
    </div>
    <div
      class="mx-auto px-6 sm:px-6 max-w-3xl mt-8 flex justify-between flex-col sm:flex-row"
    >
    </div>
  </article>
</section>
