---
import { storyblokEditable } from "@storyblok/astro";
import { renderRichText } from "@storyblok/astro";

const { nominee, cardHeadlineTag = "h2" } = Astro.props;

const content = renderRichText(nominee.content);

const HeadlineTag = cardHeadlineTag;
const copyright = String.fromCodePoint(0x00a9);
---

<article
  {...storyblokEditable(nominee)}
  class="bg-stone-100 p-6 mx-auto gap-6 grid md:gap-8 md:max-w-none md:grid-cols-2"
>
  <div class="relative">
    <img
      class="object-cover object-center w-full rounded float-left"
      src={`${nominee.image.filename}/m/690x0/filters:quality(50):format(webp)`}
      srcset={`
    ${nominee.image.filename}/m/400x0/filters:quality(50):format(webp) 400w,
    ${nominee.image.filename}/m/690x0/filters:quality(50):format(webp) 690w,
    ${nominee.image.filename}/m/1024x0/filters:quality(50):format(webp) 1024w
  `}
      sizes="(max-width: 639px) 400px, (max-width: 767px) 690px, 1024px"
      width="690"
      height="auto"
      loading="lazy"
      decoding="async"
      alt={nominee.image.alt}
    />
    {
      !!nominee.image.copyright && (
        <div class="absolute text-sm text-white right-2">
          {`${copyright} ${nominee.image.copyright}`}
        </div>
      )
    }
  </div>
  <div class="py-4">
    <HeadlineTag
      class="text-2xl md:text-2xl font-heading text-accent font-extrabold mb-3"
    >
      {nominee.title}
    </HeadlineTag>
    {content && <div set:html={content} class="mb-1" />}
  </div>
</article>
