---
import { storyblokEditable } from "@storyblok/astro";
import { renderRichText } from "@storyblok/astro";

const { member, cardHeadlineTag = "h2", isFirst = false } = Astro.props;

const renderedRichText = renderRichText(member.profile);

const HeadlineTag = cardHeadlineTag;
---

<article
  {...storyblokEditable(member)}
  class="column bg-stone-100 p-6 text-dark rounded-lg text-left"
>
  <img
    class="object-cover object-centre w-full lg:h-72 md:h-64 rounded"
    src={`${member.profile_picture.filename}/m/400x288/filters:quality(70):format(webp)`}
    srcset={`
      ${member.profile_picture.filename}/m/400x288/filters:quality(70):format(webp) 400w,
      ${member.profile_picture.filename}/m/720x516/filters:quality(70):format(webp) 720w
    `}
    sizes={isFirst
      ? "(max-width: 767px) 100vw, (max-width: 1023px) 50vw, 33vw"
      : "auto, (max-width: 767px) 100vw, (max-width: 1023px) 50vw, 33vw"}
    width="400"
    height="288"
    loading={isFirst ? "eager" : "lazy"}
    fetchpriority={isFirst ? "high" : "auto"}
    decoding={isFirst ? "sync" : "async"}
    alt={member.profile_picture.alt}
  />
  <div class="py-4">
    <HeadlineTag
      class="text-2xl md:text-2xl font-heading text-accent font-extrabold mb-3"
    >
      {member.name}
    </HeadlineTag>
    {renderedRichText && <div set:html={renderedRichText} class="mb-2" />}
  </div>
</article>
