---
import { storyblokEditable } from "@storyblok/astro";
import Link from "../components/Link.astro";

const { blok } = Astro.props;
const copyright = String.fromCodePoint(0x00a9);
---

<section {...storyblokEditable(blok)} class="mx-auto bg-card">
  <div class="md:flex place-items-top max-w-full">
    <div class="h-60 md:h-full w-full md:w-3/5 relative">
      <img
        class="object-cover w-full h-full shadow-lg bg-gray-400"
        src={`${blok.image.filename}/m/600x0/filters:quality(70):format(webp)`}
        srcset={`
          ${blok.image.filename}/m/400x0/filters:quality(70):format(webp) 400w,
          ${blok.image.filename}/m/600x0/filters:quality(70):format(webp) 600w,
          ${blok.image.filename}/m/750x0/filters:quality(70):format(webp) 750w
        `}
        sizes="auto, (max-width: 767px) 100vw, (max-width: 1279px) 60vw, 750px"
        width="600"
        height="500"
        loading="lazy"
        decoding="async"
        alt={blok.image.alt}
      />
      <div class="absolute text-sm text-white bottom-0 right-2">
        {`${copyright} ${blok.image.copyright}`}
      </div>
    </div>
    <div class="w-full md:w-3/5 p-6 lg:p-20">
      <h2 class="text-2xl font-heading font-semibold lg:text-4xl">
        {blok.heading}
      </h2>
      <p class="leading-relaxed my-6">
        {blok.description}
      </p>
      {
        blok.AdditionalInfo && (
          <p class="leading-relaxed my-6">{blok.AdditionalInfo}</p>
        )
      }
      <div class="py-2 flex flex-row gap-6 justify-start">
        <!-- Dynamic Multi-Links from Storyblok -->
        {
          Array.isArray(blok.CalloutLinks) &&
            blok.CalloutLinks.map(({ name, slug, _uid }) => (
              <Link href={slug?.cached_url} class="my-6" key={_uid}>
                {name}
              </Link>
            ))
        }
      </div>
    </div>
  </div>
</section>
