---
import Link from "../components/Link.astro";
const { event, slug } = Astro.props;
---

<article class="column bg-card rounded">
  <img
    class="object-cover w-full h-56 mb-2 rounded shadow-lg bg-gray-400"
    src={`${event.image.filename}/m/400x224/filters:quality(70):format(webp)`}
    srcset={`
      ${event.image.filename}/m/400x224/filters:quality(70):format(webp) 400w,
      ${event.image.filename}/m/500x281/filters:quality(70):format(webp) 500w,
      ${event.image.filename}/m/800x450/filters:quality(70):format(webp) 800w
    `}
    sizes="(max-width: 767px) 100vw, (max-width: 1023px) calc(50vw - 24px), 400px"
    width="400"
    height="224"
    loading="lazy"
    decoding="async"
    alt={event.image.alt}
  />
  <div class="p-6">
    <h1 class="text-2xl font-heading font-semibold lg:text-2xl">
      {event.title}
    </h1>
    <p class="leading-relaxed line-clamp-2 my-4">
      {event.description}
    </p>
    <Link href={slug}>More details</Link>
  </div>
</article>
