---
import { Image } from "astro:assets";
import Link from "../components/Link.astro";
const { event, slug } = Astro.props;
---

<article class="column bg-card rounded">
  <Image
    class="object-cover w-full h-56 mb-2 rounded shadow-lg bg-gray-400"
    sizes="(max-width: 767px) 400px, (max-width: 1023px) 768px, (max-width: 2039px) 1024px, 2040px"
    width={360}
    height={240}
    src={event.image.filename}
    alt={event.image.alt}
  />
  <div class="p-6">
    <h1 class="text-2xl font-heading font-semibold lg:text-2xl">
      {event.title}
    </h1>
    <p class="leading-relaxed line-clamp-2 my-4">
      {event.description}
    </p>
    <Link href={slug}>More Info</Link>
  </div>
</article>
