---
import Link from "./Link.astro";
import { Icon } from "astro-icon/components";
import { getFormattedDate } from "../utils/utils.ts";

const { event, slug, cardHeadlineTag = "h2" } = Astro.props;

const HeadlineTag = cardHeadlineTag;
---

<article class="mx-auto gap-6 grid md:gap-8 md:max-w-none md:grid-cols-2">
  <div
    class="rounded bg-gray-400 shadow-lg h-0 lg:pb-[56.25%] md:h-72 md:pb-[75%] overflow-hidden pb-[56.25%] relative"
  >
    <img
      class="absolute inset-0 object-cover w-full h-full mb-6 rounded shadow-lg bg-gray-400"
      src={`${event.image.filename}/m/600x0/filters:quality(70):format(webp)`}
      srcset={`
        ${event.image.filename}/m/400x0/filters:quality(70):format(webp) 400w,
        ${event.image.filename}/m/600x0/filters:quality(70):format(webp) 600w,
        ${event.image.filename}/m/800x0/filters:quality(70):format(webp) 800w
      `}
      sizes="auto, (max-width: 767px) 100vw, 50vw"
      width="600"
      height="400"
      loading="lazy"
      decoding="async"
      alt={event.image.alt}
    />
    {
      !!event.image.copyright && (
        <div class="absolute text-sm text-white bottom-0 right-2">
          {event.image.copyright}
        </div>
      )
    }
  </div>

  <div class="mt-2">
    <HeadlineTag class="text-2xl md:text-3xl font-heading font-bold mb-3">
      {event.title}
    </HeadlineTag>
    <div class="mb-3">
      <span class="text-m font-semibold">
        <Icon name="tabler:clock" class="w-5 h-5 inline-block -mt-0.5" />
        <time class="px-1.5 inline-block" datetime={event.date}
          >{getFormattedDate(new Date(event.date))}</time
        >
      </span>
    </div>
    {
      event.location && (
        <div class="mb-3 -mt-3">
          <span class="text-m font-semibold">
            <Icon name="tabler:map-pin" class="w-5 h-5 inline-block -mt-0.5" />
            <span class="px-1.5" class="inline-block">
              {event.location}
            </span>
          </span>
        </div>
      )
    }
    <div class="line-clamp-4 leading-relaxed mb-4">
      {event.description}
    </div>
    <Link href={"/" + slug}>More details</Link>
  </div>
</article>
